@layer theme, base, primeng, components, utilities;
@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
    background: #f8fafc;
    color: #0f172a;
  }
}
